@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.diwali-bg {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    width: 550px;
    height: 250px;
    background-size: cover;
    text-align: center;

}

.d-heading {
    color: white;
    width: 250px;
    height: 170px;
    font-size: 46px;
    font-family: Caveat;
    padding: 32px;
    text-align: center;
}

.diwali-card-bg {
    background-color: #e6f6ff;
    height: 700;
    width: 550px;
    padding: 15px;
    text-align: center;

}

.diwali-cardn {
    background-color: white;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    padding: 16px;
    margin: 15px;
    text-align: center;
}

.image-lamp {
    text-align: center;
    padding: 5px;

}

.para {
    text-align: center;
    font-family: "Roboto";
    color: brown;
}

.price {
    text-align: center;
    font-weight: bold;
}